
<div class="stylists">
<div class="container form">
 <h2 class="one" >Add a stylist:</h2>
<form action='/new/stylist' method='post'>
  <div class="form-group one two">
 
    <input name="name" id="name" placeholder="Name:">
  </div>
  <div class="form-group one">
    <input name="rate" id="rate" placeholder="Rate:">
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>

<a href="/">Return Home</a>
</div>
</div>

