<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Hair Salon app</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="MDN/css/bootstrap.min.css" rel="stylesheet">
  <link href="MDN/css/bootstrap.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link rel='stylesheet' href='MDN/css/mdb.min.css'>
  <link rel='stylesheet' href='MDN/css/mdb.css'>
  <!-- Your custom styles (optional) -->

    <link rel='stylesheet' href='/app.css'>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stylists
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/stylists">View Stylists</a>
            </div>
          </li>

      </div>
    </nav>
      #parse( $template )


  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="MDN/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="MDN/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="MDN/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="MDN/js/mdb.min.js"></script>
</body>

</html>