
    <h1> update client : $client.getName() here </h1>
    <form action="/clients/$client.getId()" method="post">
      <div class="form-group">
        <label for="name">newName</label>
        <input id="name" name="name" type="text" class="form-control">
      </div>

      <button type="submit" class="btn btn-success">Update name</button>
    </form>

    <a type="button" href="/" class="btn btn-warning">Add more stylist</a>

